#!/usr/bin/env bash
source ./scripts/utils.sh

export PROJECT=nv-gcp-template
export VERSION=$(get_version)

# DevOps Project Configuration (for tfstate, artifact registry, container registry)
export GCP_DEVOPS_PROJECT_ID=devops-466002
export GCP_DEVOPS_PROJECT_REGION=us-east1
export GCP_DEVOPS_REGISTRY_NAME=cloudvoyant-generic-registry
export GCP_DEVOPS_DOCKER_REGISTRY_NAME=cloudvoyant-docker-registry

# Infrastructure Project (where resources will be provisioned)
export GCP_PROJECT_ID=onlyhuman-484018
export GCP_REGION=us-east1
