name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Setup GCP
        uses: ./.github/actions/setup-gcp
        with:
          gcp_sa_key: ${{ secrets.GCP_SA_KEY }}

      - name: Create Terraform backend bucket
        run: just tf-create-backend

      - name: Run tests
        run: just test

      - name: Create new version
        id: upversion
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI: true
        run: just upversion --ci

      - name: Build production artifacts
        if: steps.upversion.outputs.new_release_published == 'true'
        run: just build-prod

      - name: Publish package
        if: steps.upversion.outputs.new_release_published == 'true' && env.GCP_SA_KEY != ''
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: just publish

      - name: Build and Push Docker Image
        if: steps.upversion.outputs.new_release_published == 'true' && env.GCP_SA_KEY != ''
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: just docker-push ${{ steps.upversion.outputs.new_release_version }}

      - name: Deploy to Dev Environment
        if: steps.upversion.outputs.new_release_published == 'true' && env.GCP_SA_KEY != ''
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
        run: |
          just tf-plan dev
          just tf-apply dev --auto-approve
          just deploy dev

      - name: Create GitHub Release
        if: steps.upversion.outputs.new_release_published == 'true'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.upversion.outputs.new_release_version }}
          generate_release_notes: true
          files: |
            dist/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
